@charset "utf-8";

@import 
  url('https://fonts.googleapis.com/css?family=Raleway:100,400');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');

*{margin: 0; padding: 0;}
html,body{
  font-size: 12px;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%
}
ol,ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  vertical-align: bottom;
}
address{
  font-style: normal;
}
table{
  border-collapse: collapse;
}
button{
  border: none;
  background: transparent;
}



/* 홈페이지의 레이아웃 규격 (.boxalign) */

#wrap{
  width: 100%;
}
.boxalign{
  width: 1250px;
  margin: auto;
/*  (중앙정렬) */
}

.Raleway{ font-family: 'Raleway', sans-serif; }
.Oswald{ font-family: 'Oswald', sans-serif; }

header{
  background: #000;
  color: #bbb;
  text-align: center;
  padding: 1rem 0;
  padding-top: 2rem;
}

#logo{}
#logo h1{}
#logo h1 a{}
#logo h1 a img{}

nav{
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
/*  ㄴ div태그들의 float에 대한 초기화 값 */
  width: 360px;
/*  ㄴ 폰트너비 모르면 때려맞추기. 1px이라도 맞춰주기 */
  margin: auto;
  margin-top: 1.5rem;
}
nav div{
  float: left;
/*  형제관계 */
}

nav div+div{
/*  2번째 div부터~ / 인접 "형제"선택자 */
  margin-left: 2.5rem;
}

nav div a{
  display: block;
/*  ㄴ inline 안에 a[#] 블럭처리 */
  font-size: 1.4rem;
}

nav div:hover{
  color: #fff;
}

main{
  background: url(02main/mainvisual.jpg) center;
  height: 780px;
  color: #fff;
  text-align: center;
}

main h2{
  font-size: 10rem;
  padding-top: 20rem;
}
main h4{
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
main .more{
  background: #eee;
  color: #000;
  margin-top: 22rem;
}
main .more:hover{
  background: #000;
  color: #fff;
}

.more{
/*  html 문서 안에 있는 모든 .more에 공통적으로 적용시킬 스타일 속성 */
  display: inline-block;
/*
  ㄴ 내용만큼 크기를 차지하기 때문에 padding으로 안쪽여백 주면서 박스 크기 조절 가능(width불필요)
  ㄴ 박스임에도 불구하고 부모태그에게 text-align: center가 있는 경우에는 중앙정렬이 유지됨 (margin:auto 불필요)
*/
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  transition: 0.3s;
}

section{}

#product{}

.title{
  text-align: center;
  padding: 4rem 0 2rem;
  border-bottom: 1px solid #ccc;
}
.title h3{
  font-size: 7rem;
  line-height: 1;
}
.title p{
  font-size: 1.3rem;
  color: #444;
  line-height: 1.4;
  margin-top: 3rem;
}

.vodka{
/*  overflow: hidden;*/
/*  ㄴ more의 초기화 */
/*  ㄴ 사용못함*/
/*  why? 호버했을 때 li 태그에 생기는 box-shadow 스타일이 .boxalign영역을 넘어가면서 잘려버린다! (양 옆) */
  padding: 5rem 0;
}

.vodka::after{
/*
  .vodka태그의 종료태그 직전에 가상공간 추가!
  이 가상공간을 초기화하는 영역으로 사용할 예정인데, 우선 "빈 태그"와 같은 상태로 만들어서 사용해야 한다!
  * 필수항목 : (내용이 비어있음/ 어떤 성질의 태그)
*/
  content: '';
  display: block;
/*  ㄴ 블럭 성질의 빈 태그처럼 사용 가능 */
/*  ex) <div> </div> 내용이 없는 블럭성질의 태그 */
/*  '' 공백 none 영역없음 */
  clear: both;
}

.vodka li{
  width: 390px;
/*  ㄴ .boxalign 1250px / 한 라인에 정렬할 li 갯수 3= 416.6px but! 사이 여백이 들어갈 것을 고려하여 보통 1~20px 여유를 둔다. */
  float: left;
  margin-bottom: 40px;
}
.vodka li+li{
  margin-left: 40px;
/*  ㄴ .boxalign 1250px - li 390px*3 = 80px / 여백이 들어갈 공간 2*/
}
.vodka li:nth-child(4){ 
  margin-left: 0;
}

/*.left  a>span{}*/
.left a>span{
  float: left;
}
/*  li.left 하위에 있는 a가 직속하위로 데리고 있는 span(.textcover & .imgcover) */
/* .left .textcover{} */
/* .left .imgcover{} */

/*.right a>*{} */
.right a>*{
  float: right;
}
/*ㄴ 자식이라고 해봤자 .textcover & .imgcover 둘밖에 없기때문에 가능 */


.vodka li a{
  display: block;
/*  ㄴ 글자안에 낑겨있음 */
  overflow: hidden;
/*  ㄴ .textcover & .imgcover의 float에 대한 초기화 값*/
  padding: 15px;
/*
  ㄴ 크기 값이 명시되어 있지 않은 a태그에 패딩을 넣게 되면, 알아서 상속받고 있는 부모태그의 가로값 안에서 패딩을 감내하게 된다.
  이 때, 당연히 부모태그의 크기 값을 넘는 패딩을 주게 되면 넘친다.(레이아웃 망가짐)
  li 390px
  - .textcover 200px
  - .imgcover 160px
  = 30px 양 옆(2영역)에 사이좋게 나눠 쓴다!
*/
}
.vodka li a span{
  display: block;
}

.vodka li a .textcover{
  width: 200px;
/*  ㄴ 390px 짜리 li 태그 안에서 .imgcover(160px)와 나란히 배치해야 하는데, 전체 가로 크기를 고려하여 여백 들어갈 수치 어느 정도 뺀 가로 값 */
  padding-top: 1rem;
}
.textcover img{}
.textcover .vt1{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  line-height: 1;
  margin: 2.5rem 0 1.2rem;
}
.textcover .vt2{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

.vodka li a .imgcover{}
.imgcover img{}

.vodka li:hover{
/*  box-shadow: 가로 세로 퍼짐 색상 */
  box-shadow: 0px 0px 10px #999;
  
}

.mcover{
  text-align: center;
/*  ㄴ inline-block 박스 중앙 정렬 */
}
.mcover .more{
  background: #000;
  color: #fff;
  border: 1px solid #000;
/*  ㄴ주의! hover 했을때 border의 px만큼 밑으로 내려감. */
}
.mcover .more:hover{
  background: #fff;
  color: #000;
}

#recipe{
  padding: 5rem 0;
}

.bgfix{
  background: url(04recipes/fixedbg.jpg) fixed center;
  color: #fff;
  text-align: center;
  padding: 3rem;  
}
.bgfix h3{
  font-size: 4rem;
  text-shadow: 0px 0px 10px #ffffff;
}
.bgfix p{
  font-size: 1.3rem;
  color: #aaa;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-top: 1rem;
}

.drink{
  overflow: hidden;
/*  ㄴ li태그의 float에 대한 초기화 값 */
  padding: 1rem 0 4rem;
}

.drink li{
/*  float: left;*/
  width: 400px;
  text-align: center;
  float: left;
}

.drink li+li{
  margin-left: 25px;
/*  ㄴ .boxalign 1250px - li 400px*3 = 50px / 여백이 들어갈 공간 2 */
}
.drink li a{
  display: block;
}
.drink li a img{}
.drink li a span{
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}
.drink li:hover img{
  transform: scale(1.1);
}

footer{
  background: #000;
  text-align: center;
  padding: 3rem 0;
}

#sns{
  overflow: hidden;
/*  ㄴ a 태그의 float에 대한 초기화 값으로 */
  width: 126px;
  margin: auto;
  border-bottom: 1px solid #999;
  padding-bottom: 2rem;
/*  ㄴ 아이콘과 보더 사이 거리 */
  margin-bottom: 3rem;
/*  ㄴ 아래쪽 로고와의 거리 */
}
#sns a{
  background: url(05footer/icon24.png);
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  opacity: 0.7;
}

#sns a:hover{
  opacity: 1;
}

#sns a+a{
  margin-left: 10px;
}
#sns .icon1{}
#sns .icon2{
  background-position: -24px;
}
#sns .icon3{
  background-position: -48px;
}
#sns .icon4{
  background-position: -72px;
}

#flogo{}
#flogo h2{}
#flogo h2 a{}
#flogo h2 a img{}


